
<div data-atv-controller="hello">
  <input id="greet-input" data-atv_hello_target="name" type="text">

  <button id="greet-button" data-atv-hello-action="click->greet">
    Greet
  </button>
  <span id="greet-out" data-atv-hello-target="output">OUTPUT
  </span>
</div>
