
<div data-atv-controller="config" 
      data-atv-config-values='{"answer":"My favorite color is blue!"}'>
  <button id="config-button" data-atv-config-action="click->reveal">
    Reveal the mystery answer
  </button>
  <span id="config-out" data-atv-config-target="output">
  </span>
</div>
