
<div class="product" data-atv-controller="multiplier">
  <input type="number" value="1" data-atv-multiplier-target="factor"></input> * 
  <input type="number" value="2" data-atv-multiplier-target="factor"></input>
</div> +
<div class="product" data-atv-controller="multiplier">
  <input type="number" value="3" data-atv-multiplier-target="factor"></input> * 
  <input type="number" value="4" data-atv-multiplier-target="factor"></input>
</div> =
<div data-atv-controller="adder">
  <span data-atv-adder-target="sum"></span>
  <button data-atv-adder-action="click->add">
    Calculate
  </button>
</div>              
