
<div data-atv-controller="multiplier">
  <input type="number" value="3" data-atv-multiplier-target="factor"></input> * 
  <input type="number" value="4" data-atv-multiplier-target="factor"></input> * 
  <input type="number" value="5" data-atv-multiplier-target="factor"></input> = 
  <span id="multiply-out" data-atv-multiplier-target="product">90</span>
  <button id="multiply-button" data-atv-multiplier-action="click->multiply">
    Calculate
  </button>
</div>
