
<div data-atv-controller="multiplier">
  <input type="number" value="3" data-atv-multiplier-target="aFactor"></input> * 
  <input type="number" value="4" data-atv-multiplier-target="aFactor"></input> * 
  <input type="number" value="5" data-atv-multiplier-target="aFactor"></input> = 
  <span id="multiply-out" data-atv-multiplier-target="product">90</span>
  <button id="multiply-button" data-atv-multiplier-action="click->multiply">
    Calculate
  </button>
</div>

<div data-atv-controller="multiplier-plurals">
  <input type="number" value="13" data-atv-multiplier-plurals-target="aFactor"></input> * 
  <input type="number" value="14" data-atv-multiplier-plurals-target="aFactor"></input> * 
  <input type="number" value="15" data-atv-multiplier-plurals-target="aFactor"></input> = 
  <span id="multiply2-out" data-atv-multiplier-plurals-target="product">90</span>
  <button id="multiply2-button" data-atv-multiplier-plurals-action="click->multiply">
    Calculate
  </button>
</div>