
<div data-my-atv-controller="simple">
  M
  <button id="mCount" data-my-atv-simple-action="click">
    Count 0
  </button>
</div>

<script type="module">
  import { activate } from '@sbrew.com/atv';

  activate("my-atv-");
</script>



<div data-controller="simple">
  N
  <button id="nCount" data-simple-action="click">
    Count 0
  </button>
</div>

<script type="module">
  import { activate } from '@sbrew.com/atv';

  activate("");
</script>

