
<div id="nest1" data-atv-controller="nesting">
  B
  <button id="bCount" data-atv-nesting-action="click">
    Count 0
  </button>
  <div id="nest2" data-atv-controller="nesting">
    C
    <button id="cCount" data-atv-nesting-action="click">
      Count 0
    </button>
  </div>
</div>
