
<div data-atv-controller="nesting">
  <button id="bCount" data-atv-nesting-action="click">
    Count 0
  </button>
  <div data-atv-controller="nesting">
    <button id="cCount" data-atv-nesting-action="click">
      Count 0
    </button>
  </div>
</div>
