<h1 data_atv_report="true">
  ATV 
</h1>
<ul>
<li><%= link_to "Basics", atv_by_example_path %></li>
<li><%= link_to "Variations", atv_variations_path %></li>
<li><%= link_to "Unit Test", unit_test_path %></li>
</ul>

<div id='simple' data-atv-controller="simple" data-atv-simple-values='"this": "that", "one": "two"' }'>
  <div id="000" data-atv-simple-action="click">CLICKER1</div>
  <input data-atv-simple-actions="clack" data-atv-actions="focus->simple#focus">FOCUS2</input>
  <div data-atv-action="click->simple#clack">CLICKER3</div>
  <div data-atv-simple-target="here"></div>
  <div id="aaa" data-atv-simple-target="there"></div>
  <div data-atv-simple-target="everywhere"></div>
  <div id="bbb" data-atv-simple-target="there"></div>
  <div id="ccc" data-atv-simple-target="here, there"></div>
</div>